node_modules
.next
.git
.gitignore
README.md
Dockerfile
.dockerignore
.env
.env.local
.env.production.local
.env.development.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store
.pnpm-cache
pnpm-debug.log*
tsconfig.tsbuildinfo
lib/generated/prisma/
dev_output.log
dev_test.log
